

// Login Styles

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    max-width: 1440px;
}

.logo__container {
    // margin-top: 107.67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 97px;

    &:hover {
        cursor: pointer;
    }
}

.logo__container-title {
    // 36px/16px = 2.25rem, as in figma file
    font-family: var(--avenir-bold);
    font-size: 2.25rem;
    font-weight: 300;
    color: var(--color-blue-text);
}ainer:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin-bottom: 107.67px;
}

.logo__container-title {
    // 36px/16px = 2.25rem, as in figma file
    font-family: var(--avenir-bold);
    font-size: 2rem;
    font-weight: 100;
    color: var(--color-blue-text);
}

.logo__container-image {
    width: 600px;
}

.logo__container-favicon {
    width: 24.75px;
    height: 25px;
    margin-right: 8px;
}

.user__input {
    display: flex;
    width: 447px;
    max-width: 446px;
    height: 50px;
    border-radius: 5px;
    // box-shadow: 0 0 0 2px var(--color-input);
    border: 2px solid var(--color-input);
    padding-left: 16px;

    &:placeholder-shown {
        color: var(--color-grey-text);
        // font-size: 1.25rem;
        font-weight: 100;
        padding-left: 16px;
    }
}

// Form styles

.form__container {
    display: flex;
    flex-direction: column;
}

.form__container-greeting {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
}

.form__container-greeting-title {
    display: flex;
    justify-self: flex-start;
    font-family: var(--avenir-bold);
    // 40px / 16px = 2.5rem, as in figma file
    font-size: 2.5rem;
    color: var(--color-blue-text);
    font-weight: 300;
    text-transform: capitalize;
}

.form__container-greeting-paragraph {
    font-family: var(--avenir);
    // 20px / 16px = 1.25rem, as in figma file
    font-size: 1.25rem;
    color: var(--color-grey-text);
    font-weight: 400;
    
    &::first-letter {
        text-transform: uppercase;
    }
}

.form__body-email, .form__body-password {
    margin-bottom: 25px;
}

.form__body-password {
    position: relative;
    // z-index: 2;
}

.form__body-forgot-password {
    margin-bottom: 25px;
    font-size: clamp(1vw, 0.9rem, 1rem);
}

.input__reveal {
    display: flex;
    justify-self: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid transparent;
    padding: 20px;
    overflow: hidden;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-cyan-text);
    // transition: all 0.4s ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.forgot-password {
    text-transform: uppercase;
    color: var(--color-cyan-text);
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.login__button {
    width: 100%;
    padding: 14px;
    background-color: var(--color-cyan-text);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: var(--color-white-text);

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: var(--color-cyan-fade);
    }
}

// nav styles

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 80px;
    box-shadow: 0 0 13px -6px var(--color-grey-text);
}

.nav__intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    gap: 120px;
}

.nav__logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav__search-container {
    display: flex;
    flex: row;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.search {
    // border: 2px solid var(--color-grey-text);
    box-shadow: 0 0 1px 0 var(--color-grey-text);
}
.search__input {
    display: flex;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding-left: 16px;
    border: none;
    overflow: hidden;
    &:placeholder-shown {
        color: var(--color-grey-text);
        font-weight: 100;
        padding-left: 16px;
    }
}

.search__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    border: none;
    background-color: var(--color-cyan-text);

    &.search__button:hover {
        cursor: pointer;
    }

    &.search__button:active {
        background-color: var(--color-cyan-fade);
    }
}

.nav__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-right: 30px;
}

.nav__profile-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.docs__link {
    color: var(--color-blue-text);
}

.profile {
    align-items: center;
}

.profile__container {
    border-radius: 50%;
}

.profile__container-image {
    border-radius: 50%;
    object-fit: cover;
    width: 48px;
}

// main 

.main {
    display: flex;
    flex-direction: row;
}

// Aside styles

.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    width: 300px;
    box-shadow: 0 0 1px 0 var(--color-grey-text);
    margin-top: 1px;
}

.switch__organizations {
    display: flex;
    text-transform: capitalize;
    gap: 10px;
    color: var(--color-blue-text);
    align-items: center;
    padding-left: 20px;
    white-space: nowrap;
    padding-right: 20px;
}

.switch__organizations-button {
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
}

.aside__dashboard {
    display: flex;
    padding-top: 40px;
    padding-bottom: 35px;
    gap: 10px;
    text-transform: capitalize;
    padding-left: 20px;
}

.aside__dashboard-text {
    text-decoration: none;
    color: var(--color-grey-text);
}

.customer__options-title {
    color: var(--color-input);
    text-transform: uppercase;
    font-size: 0.9rem;
    padding-left: 20px;
    padding-bottom: 10px;
}

.customer__options-list {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    flex-direction: column;
    // padding-top: 15px;
    // padding-bottom: 10px;

    &:last-child {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--color-grey-text);
        justify-content: space-between;
        padding-top: 15px;
        // margin-top: 10px;
    }
}

.selected {
    background-color: var(--color-cyan-text);
    border-left: 4px solid var(--color-cyan-dark);
}

.options__item {
    display: flex;
    flex-direction: row;
    // gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--color-grey-text);

    &:hover {
        background-color: var(--color-cyan-text );
        border-left: 4px solid var(--color-cyan-dark);
        cursor: pointer;
    }
}

.options__item-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 20px;
    // background-color: var(--color-cyan-fade);
}

.business__options-title {
    padding-left: 20px;
    text-transform: uppercase;
    color: var(--color-grey-text);
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.settings__options-title {
    padding-left: 20px;
    text-transform: uppercase;
    color: var(--color-grey-text);
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logout__container {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    background-color: var(--color-white-text);
    border: none;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--color-white-text);
        border: none;
        cursor: pointer;
    }
}

.logout__container-button {
    display: flex;
    text-align: left;
    width: 100%;
    height: 100%;
    border: none;
    color: var(--color-grey-text);
    font-size: 1rem;
    font-weight: 600;
}

.app__version {
    padding: 10px;
    padding-left: 20px;
    color: var(--color-grey-text);
    font-weight: 400;
}

// dashboard user list section

.userlist {
    width: 100%;
    min-height: 100%;
    background-color: #a3a3a320;
    padding: 55px;
    overflow: visible;
}

.userlist__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.userlist__container-title {
    text-transform: uppercase;
    color: var(--color-grey-text);
}

.userlist__container-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info__item {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 160px;
    background-color: var(--color-white-text);
    padding: 20px;
    gap: 20px;

    &:hover {
        cursor: pointer;
    }
}

.info__item-image {
    width: 40px;
}

.info__item-title {
    text-transform: uppercase;
    color: var(--color-grey-text);
}

.info__item-stat {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--color-blue-text);
}

// userlist table heading - with filter

.userlist__table-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    background-color: var(--color-white-text);
}

.heading {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 30px;
}

.heading__filter-button, .more__settings {
    background-color: var(--color-white-text);
    border: none;
    width: fit-content;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 701px) and (max-width: 1399px) {

    .logo__container:first-child {
        padding-bottom: 100px;
    }

    .login {
        display: flex;
        max-width: 700px;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-bottom: 107.67px;
        min-height: 100vh;
    }

    .user__input {
        display: flex;
        width: 700px;
    }

    .login__article-wrapper:nth-child(1) {
        display: flex;
        text-align: left;
    }

    .logo__container {
        display: flex;
        width: 700px;
        margin-left: 0;
        max-width: 447px;
        align-items: center;
    }

    .logo__container:nth-child(2) {
        display: none;
    }
}

@media screen and (min-width: 519px) and (max-width: 700px) {

    .logo__container:first-child {
        padding-bottom: 100px;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100%;
        width: 100%;
        padding-bottom: 107.67px;
    }

     .login__article-wrapper:nth-child(1) {
        display: flex;
        width: 100%;
        text-align: left;
    }

    .logo__container:first-child {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        margin-left: 0;
        width: 447px;
    }

    .logo__container:nth-child(2) {
        display: none;
    }

    .input__reveal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 100px) and (max-width: 518px) {

    .login {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        min-height: 100vh;
        // padding-bottom: 107.67px;
    }

    .logo__container:first-child {
        padding-bottom: 100px;
    }

    .logo__container:nth-child(1) {
        margin-left: -100px;
        // padding-left: -100px;
    }

    .logo__container:nth-child(2) {
        display: none;
    }

    .user__input {
        width: 300px;
    }

    .input__reveal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}