

// Login Styles

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    max-width: 1440px;
}

.logo__container {
    // margin-top: 107.67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 97px;

    &:hover {
        cursor: pointer;
    }
}

.logo__container-title {
    // 36px/16px = 2.25rem, as in figma file
    font-family: var(--avenir-bold);
    font-size: 2.25rem;
    font-weight: 300;
    color: var(--color-blue-text);
}ainer:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin-bottom: 107.67px;
}

.logo__container-title {
    // 36px/16px = 2.25rem, as in figma file
    font-family: var(--avenir-bold);
    font-size: 2rem;
    font-weight: 100;
    color: var(--color-blue-text);
}

.logo__container-image {
    width: 600px;
}

.logo__container-favicon {
    width: 24.75px;
    height: 25px;
    margin-right: 8px;
}

.user__input {
    display: flex;
    width: 447px;
    max-width: 446px;
    height: 50px;
    border-radius: 5px;
    // box-shadow: 0 0 0 2px var(--color-input);
    border: 2px solid var(--color-input);
    padding-left: 16px;

    &:placeholder-shown {
        color: var(--color-grey-text);
        // font-size: 1.25rem;
        font-weight: 100;
        padding-left: 16px;
    }
}

// Form styles

.form__container {
    display: flex;
    flex-direction: column;
}

.form__container-greeting {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
}

.form__container-greeting-title {
    display: flex;
    justify-self: flex-start;
    font-family: var(--avenir-bold);
    // 40px / 16px = 2.5rem, as in figma file
    font-size: 2.5rem;
    color: var(--color-blue-text);
    font-weight: 300;
    text-transform: capitalize;
}

.form__container-greeting-paragraph {
    font-family: var(--avenir);
    // 20px / 16px = 1.25rem, as in figma file
    font-size: 1.25rem;
    color: var(--color-grey-text);
    font-weight: 400;
    
    &::first-letter {
        text-transform: uppercase;
    }
}

.form__body-email, .form__body-password {
    margin-bottom: 25px;
}

.form__body-password {
    position: relative;
    // z-index: 2;
}

.form__body-forgot-password {
    margin-bottom: 25px;
    font-size: clamp(1vw, 0.9rem, 1rem);
}

.input__reveal {
    display: flex;
    justify-self: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid transparent;
    padding: 20px;
    overflow: hidden;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-cyan-text);
    // transition: all 0.4s ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.forgot-password {
    text-transform: uppercase;
    color: var(--color-cyan-text);
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.login__button {
    width: 100%;
    padding: 14px;
    background-color: var(--color-cyan-text);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: var(--color-white-text);

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: var(--color-cyan-fade);
    }
}

// nav styles

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 0 0px 0px var(--color-grey-text);
}

.nav__intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    gap: 120px;
}

.nav__logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav__search-container {
    display: flex;
    flex: row;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.search {
    // border: 2px solid var(--color-grey-text);
    box-shadow: 0 0 1px 0 var(--color-grey-text);
}
.search__input {
    display: flex;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding-left: 16px;
    border: none;
    overflow: hidden;
    &:placeholder-shown {
        color: var(--color-grey-text);
        font-weight: 100;
        padding-left: 16px;
    }
}

.search__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    border: none;
    background-color: var(--color-cyan-text);

    &.search__button:hover {
        cursor: pointer;
    }

    &.search__button:active {
        background-color: var(--color-cyan-fade);
    }
}

.nav__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-right: 30px;
    text-transform: capitalize;
}

.nav__profile-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.docs__link {
    color: var(--color-blue-text);
}

.profile {
    align-items: center;
}

.profile__container {
    border-radius: 50%;
}

.profile__container-image {
    border-radius: 50%;
    object-fit: cover;
    width: 48px;
}

.profile__name {
    color: var(--color-blue-text);
    text-decoration: none;
}

// main 

.main {
    display: flex;
    flex-direction: row;
}

// Aside styles

.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    width: 300px;
    box-shadow: 0 0 1px 0 var(--color-grey-text);
    margin-top: 1px;
}

.switch__organizations {
    display: flex;
    text-transform: capitalize;
    gap: 10px;
    color: var(--color-blue-text);
    align-items: center;
    padding-left: 20px;
    white-space: nowrap;
    padding-right: 20px;
}

.switch__organizations-button {
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
}

.aside__dashboard {
    display: flex;
    padding-top: 40px;
    padding-bottom: 35px;
    gap: 10px;
    text-transform: capitalize;
    padding-left: 20px;
}

.aside__dashboard-text {
    text-decoration: none;
    color: var(--color-grey-text);
}

.customer__options-title {
    color: var(--color-input);
    text-transform: uppercase;
    font-size: 0.9rem;
    padding-left: 20px;
    padding-bottom: 10px;
}

.customer__options-list {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    flex-direction: column;
    // padding-top: 15px;
    // padding-bottom: 10px;

    &:last-child {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--color-grey-text);
        justify-content: space-between;
        padding-top: 15px;
        // margin-top: 10px;
    }
}

.selected {
    background-color: var(--color-cyan-text);
    border-left: 4px solid var(--color-cyan-dark);
}

.options__item {
    display: flex;
    flex-direction: row;
    // gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--color-grey-text);

    &:hover {
        background-color: var(--color-cyan-text );
        border-left: 4px solid var(--color-cyan-dark);
        cursor: pointer;
    }
}

.options__item-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 20px;
    // background-color: var(--color-cyan-fade);
}

.business__options-title {
    padding-left: 20px;
    text-transform: uppercase;
    color: var(--color-grey-text);
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.settings__options-title {
    padding-left: 20px;
    text-transform: uppercase;
    color: var(--color-grey-text);
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logout__container {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    background-color: var(--color-white-text);
    border: none;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--color-white-text);
        border: none;
        cursor: pointer;
    }
}

.logout__container-button {
    display: flex;
    text-align: left;
    width: 100%;
    height: 100%;
    border: none;
    color: var(--color-grey-text);
    font-size: 1rem;
    font-weight: 600;
}

.app__version {
    padding: 10px;
    padding-left: 20px;
    color: var(--color-grey-text);
    font-weight: 400;
}

// dashboard user list section

.userlist {
    // min-width: 100%;
    min-height: 100vh;
    background-color: #a3a3a320;
    padding: 55px;
}

.table__container {
    overflow-x: auto;
    min-width: 100%;
    width: fit-content;
}

.userlist__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 1000px;
}

.userlist__container-title {
    text-transform: uppercase;
    color: var(--color-grey-text);
}

.userlist__container-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 18rem));
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    gap: 16px;
}

.info__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-white-text);
    padding: 20px;
    height: 160px;
    max-width: 240px;
    &:hover {
        cursor: pointer;
    }
}

.info__item-image {
    width: 40px;
}

.info__item-title {
    text-transform: uppercase;
    color: var(--color-grey-text);
    white-space: nowrap;
}

.info__item-stat {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--color-blue-text);
}

.filter__button {

    &:hover {
        cursor: pointer;
    }
}

.active {
    color: var(--color-active-text);
    background-color: var(--color-active);
    border-radius: 15px;
    padding: 10px 25px;
}

.inactive {
    color: var(--color-inactive-text);
    background-color: var(--color-inactive);
    border-radius: 15px;
    padding: 10px 25px;
}

.pending {
    color: var(--color-pending-text);
    background-color: var(--color-pending);
    border-radius: 15px;
    padding: 10px 25px;
}

.blacklisted {
    color: var(--color-blacklisted-text);
    background-color: var(--color-blacklisted);
    border-radius: 15px;
    padding: 10px 25px;
}

.userlist__floor {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.userlist__floor-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-blue-text);
}

.page__style {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--color-grey-text);
}

.view__rows {
    background-color: var(--color-inactive);
    color: var(--color-inactive-text);
    border: none;
    padding: 2px;
    border-radius: 5px;
}

.status__row {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    text-align: center;
}

.page__style-button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-grey-text);

    &:hover {
        cursor: pointer;
    }
}

.page__style-button-inactive {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--color-black);
}

@media screen and (min-width: 1193px) and (max-width: 1399px) {

    .nav {
        border: none;
    }

    // table {
    //     // width: 700px;
    //     // width: 100%;
    //     // min-width: 90%;
    //     // padding: 20px;
    // }

    .userlist {
        padding: 10px;
    }

    .userlist__container {
        
        padding: 20px;
    }

    .userlist__container-info {
        
        margin: 0;
    }

    .info__item {
        width: 200px;
        margin: 0;
        
    }

    .logo__container:first-child {
        padding-bottom: 100px;
    }

    .login {
        display: flex;
        max-width: 700px;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-bottom: 107.67px;
        min-height: 100vh;
    }

    .user__input {
        display: flex;
        width: 700px;
    }

    .login__article-wrapper:nth-child(1) {
        display: flex;
        text-align: left;
    }

    .logo__container {
        display: flex;
        width: 700px;
        margin-left: 0;
        max-width: 447px;
        align-items: center;
    }

    .logo__container:nth-child(2) {
        display: none;
    }
}

@media screen and (min-width: 794px) and (max-width: 1192px) {

    .nav {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .nav__profile {
        // width: fit-content;
        gap: 0;
    }

    .search__input {
        display: flex;
        justify-self: flex-start;
        width: 250px;
    }

    .sidebar {
        display: none;
    }



    .userlist__container-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: clamp(1vw, 3rem, 7rem);
        place-items: center;
    }
    
    .info__item {
        display: grid;
        width: 100%;
        grid-auto-columns: 1fr;
    }

    .logo__container:first-child {
        padding-bottom: 100px;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100%;
        width: 100%;
        padding-bottom: 107.67px;
    }

     .login__article-wrapper:nth-child(1) {
        display: flex;
        width: 100%;
        text-align: left;
    }

    .logo__container:first-child {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        margin-left: 0;
        width: 447px;
    }

    .logo__container:nth-child(2) {
        display: none;
    }

    .input__reveal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 100px) and (max-width: 793px) {

    .sidebar {
        display: none;
    }

    .nav__intro {
        display: flex;
        gap: 10px;
    }

    .userlist__container-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        place-items: center;
        gap: 20px;
    }

    .info__item {
        width: 100%;
    }

    .search__input {
        display: flex;
        justify-self: flex-start;
        width: 100%;
    }

    .search__button {
        width: 10px;
        height: 10;
    }

    .nav__profile {
        gap: 8px;
    }
    
    .login {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        min-height: 100vh;
        // padding-bottom: 107.67px;
    }
    
    .logo__container:first-child {
        padding-bottom: 100px;
    }

    .logo__container:nth-child(1) {
        margin-left: -100px;
        // padding-left: -100px;
    }
    
    .logo__container:nth-child(2) {
        display: none;
    }

    .user__input {
        width: 300px;
    }

    .input__reveal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 581px) {
    .nav__profile {
        display: none;
    }
}

@media(max-width: 381px) {
    .logo__container-title {
        display: none;
    }
}
