@font-face {
  font-family: "Avenir Bold";
  src: url('/fonts/Avenir-Next-LT-Pro-Bold.otf') format('truetype');
}

@font-face {
  font-family: "Avenir Italic";
  src: url('/fonts/Avenir-Next-LT-Pro-It.otf') format('truetype');
}

@font-face {
  font-family: "Avenir Regular";
  src: url('/fonts/Avenir-Next-LT-Pro-Regular.otf') format('truetype');
}

@font-face {
  font-family: "WorkSans Black";
  src: url('/fonts/WorkSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: "WorkSans Bold";
  src: url('/fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "WorkSans ExtraBold";
  src: url('/fonts/WorkSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: "WorkSans ExtraLight";
  src: url('/fonts/WorkSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: "WorkSans Light";
  src: url('/fonts/WorkSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: "WorkSans Medium";
  src: url('/fonts/WorkSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "WorkSans Regular";
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "WorkSans SemiBold";
  src: url('/fonts/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: "WorkSans Thin";
  src: url('/fonts/WorkSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: "WorkSans Variable";
  src: url('/fonts/WorkSans-Variable.ttf') format('truetype');
}

:root {
    --avenir: "Avenir Regular", sans-serif;
    --avenir-bold: "Avenir Bold", sans-serif;
    --work-sans-regular: "WorkSans Regular", sans-serif;
    --color-blue-text: #213F7D;
    --color-grey-text: #545F7D;
    --color-grey-fade: #545f7d31;
    --color-cyan-text: #39CDCC;
    --color-cyan-fade: #39CDCCCC;
    --color-cyan-dark: #1ab5b5;
    --color-white-text: #FFFFFF;
    --color-input: #545F7D;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  width: 100%;
}

body {
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-size: normal;
    min-height: 100vh;
    font-size: 16px;
    width: 100%;
}

li {
  list-style: none;
}

img {
  display: flex;
  align-items: flex-start;
  object-fit: contain;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 1000px;
  border: 1px solid #ddd;
}

tbody {
  box-shadow: 0 0 1px 0 var(--color-grey-text);
  & > tr > td {
    border-bottom: 1px outset var(--color-grey-fade);
  }
}

thead {
  width: 100%;
}

th, td {
  text-align: left;
  /* padding: 20px; */
  padding: 20px 0 20px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  white-space: nowrap;
}

td {
  vertical-align: top;
  color: var(--color-grey-text);
}

td button, th button {
  background-color: var(--color-white-text);
  border: none;
}

th div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & h4 {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-grey-text);
  }
}